<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbefgra.orpxre@tznvy.pbz</string>
	<key>contactName</key>
	<string>Torsten Becker</string>
	<key>description</key>
	<string>Support for the &lt;a href="http://en.wikipedia.org/wiki/Modula-3"&gt;Modula-3&lt;/a&gt; language.</string>
	<key>name</key>
	<string>Modula-3</string>
	<key>ordering</key>
	<array>
		<string>479D53FA-6ED6-11D9-8471-0011242E4184</string>
		<string>58BF6715-3B7A-4E22-BDE4-E80827A5A247</string>
	</array>
	<key>uuid</key>
	<string>391B059C-6ED6-11D9-891B-0011242E4184</string>
</dict>
</plist>
